/* base.html */
body {
    font-family: 'Cutive Mono', monospace;
    padding-top: 54px;
    background-color: #f9f9f9;
}
.navbar-default .navbar-toggle {
    border-color: #c1b8b9;
}
.fa {
    margin-right: 4px;
}
.navbar {
    background-color: #b1aab2;
    border-color: #b1aab2;
    background-image: none;
    margin-bottom: 0px;
    padding-top: 3px;
    font-size: 17px;
}
.navbar-brand {
    font-family: 'Cutive Mono', monospace;
    text-shadow: 2px 2px 8px;
    color: #3e1b1b !important;
    font-size: 36px;
    font-weight: bold;
}
.navbar-nav>li>a {
    color: #3e1b1b !important;

}
.alert {
    margin-bottom: 0px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.navbar-default .badge {
    background-color: #d9d3d8;
    color: #ff0500;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}


.search {
    margin: 49px;
    text-align: center;
}

#search-input {
    height: 36px;
    width: 500px;
    text-align: center;
    }

.btn {
    transition: all 0.4s ease 0s;
    border-radius: 20px;
}

.btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#banner-image {
    background-image: url("https://i.pinimg.com/originals/c5/d9/e0/c5d9e05f7c1055e32d67a34363cca041.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 530px;
    background-attachment: fixed;
}

.banner {
        background-color: #d8d4d8;
        margin: 50px;
        padding: 5px;
        text-align: center;
}

.banner-text {
        text-shadow: 0px 0px 1px;
        color: #3e1b1b;
}

.banner-p {
    font-size: 18px;
}

#footer {
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-top: none;
    color: #A9A9A9;
    }
.author {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
}
/* project.html */

.project-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin: 0 auto;
}

.project-description {
    min-height: 40px;
}

/* checout.html */

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

/* register.html */

.register-image {
    background-image: url("https://images.unsplash.com/photo-1518117823675-9a4bb23df61c?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 530px;
    background-attachment: fixed;
    padding-top: 1px;
    margin: 0px;
}

.register-input {
    margin: 82px 300px 0px 300px;
}
/* login.html*/

.login-image {
    background-image: url("http://www.waqastheseo.com/wp-content/uploads/2019/03/Digital-Marketing-Portfolio.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 530px;
    background-attachment: fixed;
    padding-top: 1px;
    margin: 0px;
}

/* cart.html */

.cart-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.cart-item {
    text-align: center;
}
.cart-row {
    margin-top: 50px;
}
#cart {
    margin-bottom: 20px;
}

.checkout {
    text-align: center;
    margin-top: 58px;
    margin-bottom: 60px;
}

.checkout-title {
    text-align: center;
    margin-top: 50px;
    text-shadow: 0px 0px 1px;
    color: #3e1b1b;
    font-size: 40px;
}

.checkout-total {
    text-align: center;
}

.checkout-list {
    background-color: white;
    margin: 20px 20px 20px 192px;
}

.cart-list {
    margin: 40px 0px 40px 0px;
    text-align: center;
}

#cart-background {
    background-image: url("https://qtxasset.com/styles/breakpoint_xl_880px_w/s3/fiercebiotech/1569411990/business-3152586_1280.jpg/business-3152586_1280.jpg?s1VaTL7GeYgBpVXltUKr0Tfd74G.LVcD&itok=tXU8oRCY");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 530px;
    background-attachment: fixed;
    padding-top: 1px;
    margin: 0px;
}

/* profile.html */

#profile-background {
    background-image: url("https://marketeers.com/wp-content/uploads/2018/02/52461810_l.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 530px;
    background-attachment: fixed;
    padding-top: 1px;
    margin: 0px;
}

.profile-text {
    text-shadow: 0px 0px 1px;
}

/* Media Queries */

@media only screen and (max-width: 992px) {

   .project-image {
        height: 450px;
   }

    .project {
        width: 80%;
        margin-left: 50px;
    }
   
}

@media only screen and (max-width: 500px) {
    .project-image {
        height: 250px;
    }
    #search-input {
        width: 266px;
        margin-bottom: 10px;
    }
    .search {
        margin-bottom: 25px;
    }

    .navbar-brand {
        font-size: 21px;
    }

    #banner-projects {
        margin: 288px -2px;
    } 

    #banner-register {
    margin: 264px 0px 0px 0px;
    } 

    #banner-image {
    width: 100%;
    background-attachment: inherit;
    }

    .register-input {
        margin: 336px 20px 0px 35px;
    }
    

    .register-image {
        height: 312px;
        background-attachment: inherit;
        width: 104%;
    }
   
    .banner-register-p {
        margin: 10px;
        font-size: 18px;
    }

    #cart {
        margin-top: 93px;
    }

    #banner-cart {
        margin: 278px 0px;
    }

    .input-group {
        width: 80%;
        margin-left: 40px;
    }
    
    #cart-background {
        background-attachment: inherit;
    }

    .cart-list {
        margin: 200px 0px 40px 0px;
    }

    .login-image {
        background-attachment: inherit;
        width: 104%;
    }
    #login-input {
        margin: 80px 20px 0px 35px;
    }
    
    .checkout {
        margin-top: 200px;
    }

    #banner-profile {
        margin: 200px 0px 0px 0px;
    }

    .hr-profile {
        margin-top: 170px;
    }
    .checkout-list {
        margin: 0px;
    }
}
