{% extends 'base.html' %}
{% block content %}

<!-- Seearch -->
<div class="container">
    <div class="instruction">
        <h3 class="instruction-text">To order our product please follow three steps</h3>
    </div>
    <div class="row three-steps">
        <div class="col-md-4">
            <div id="step-1"><button class="drop_btn">Step 1</button></div>
            <div class="step-description-1">
                <p>Choes your design type and quantity</p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="step-2"><button class="drop_btn">Step 2</button></div>
            <div class="step-description-2">
                <p>Go to Cart tab on navbar and checkout</p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="step-3"><button class="drop_btn">Step 3</button></div>
            <div class="step-description-3">
                <p><strong>Fill the form and pay :D</p>
            </div>
        </div>
    </div>
<hr>
<!-- Projects -->
<div class="container">
    {% for project in projects %}
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="project-image" style="background-image: url('{{ MEDIA_URL }}{{ project.image }}')"></div>
        </div>
        <div class="project">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <h2>{{ project.name }}</h2>
            <p class="project-description">{{ project.description}}</p>
            <p><strong>Price: €{{ project.price }}</strong></p>
            <hr>
                <form name="quantity-project" method="post" action="{% url 'add_to_cart' project.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" required type="number" min="0" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </span>
                </div>
            </form>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}  




